.container {
    .search {
        width: 100%;
        height: 400rpx;
        background-image: url(https://cdn-1.sofb.com/sofb-miniprogram/static/imgs/img-home-bg@3x.png);
        background-size: 100% 100%;
    }
    .top-tab {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 30rpx 20rpx;
        align-items: center;
        .text {
            width: 330rpx;
            height: 160rpx;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

        }
        .left {
            background-image: url("https://cdn-1.sofb.com/sofb-miniprogram/static/imgs/img-home-room@2x.png");
        }
        .right {
            background-image: url("https://cdn-1.sofb.com/sofb-miniprogram/static/imgs/img-home-renting@2x.png");
        }
    }
    .top-bar {
        width: 100%;
        background:#F2F3F5;
        height:20rpx;
    }
    .recommand {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30rpx;
        color: #475266;
        .recommand-left {
            padding-left: 30rpx;
            font-size: 36rpx;
        }
        .recommand-right {
            padding-right: 30rpx;
            font-size: 32rpx;
            .active {
                color: #6595F4;
            }
            .second {
                margin-right: 30rpx;
            }
        }
    }
}