.container {
    .search {
        width: 100%;
        height: 400rpx;
        background-image: url(https://cdn-1.sofb.com/sofb-miniprogram/static/imgs/img-home-bg@3x.png);
        background-size: 100% 100%;
    }
}